{% extends 'users/base.html' %}

{% block content %}
  <div class="card mx-auto" style="width:40rem">
    <div class="card-body">
      <h5 class="card-title mb-3 text-center text-uppercase">Login User</h5>

      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail" class="form-label">Username</label>
          <input type="input" class="form-control form-control-sm" name="username" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Username"/>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control form-control-sm" name="password" id="exampleInputPassword1" placeholder="Enter Password"/>
        </div>

        <div class="col-md-12 text-center">
          <button class="btn btn-success btn-md" style="border-radius: 1px;"><i class="fa-regular fa-user"> </i> Login User</button>
          <br><br>
          <div class="mb-3">
            <a href="{% url 'register_customer' %}" class="text-uppercase">Register New User</a>
          </div>
          <a href="" class="text-uppercase">¿Forgot your Password?</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
